.button {
  border: 0;
  background: 0;
  color: inherit;
  border: 1px solid var(--button-border-color);
  padding: 0.3rem 0.75rem;
  margin-right: 0.75rem;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.75rem;
  /*
  transition: background 0.25s linear;\
  */
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

.button:hover {
  text-decoration: none;
}

.button--menu-item {
  border: 0;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 0.3em;
  font-family: inherit;
  font-size: 0.82em;
  text-align: left;
  min-width: 4em;
  justify-content: flex-start;
  border-radius: 0.4em;
}

.button--header-menu {
  display: none;
}

.button.button--header-menu {
  margin: 0 1.5rem !important;
}

.button.button--header-menu .button__icon {
  height: 1em;
}

.button--menu-item:first-child {
  margin-top: 0.5em;
}

.button.button--menu-item:hover:not(:focus) {
  background: 0;
}

.button.button--menu-item:focus {
  background-color: var(--menu-item-bg-color);
}

.button--active,
.button:hover,
.button:focus {
  color: var(--text-color) !important;
  background: var(--button-hover-bg-color);
}

.button--large {
  padding: 0.6em 1.2em;
  font-size: 1.25em;
}

.button--menu {
  border: 0;
  margin-right: 0 !important;
  margin-left: 0.5rem !important;
}

.button--menu .button__icon {
  height: 1.25rem !important;
}

.button--icon-overlay,
.button.button--icon {
  border: 1px solid transparent;
  margin: 0 0.5em;
}

.button--active {
  border-color: var(--button-border-color) !important;
}
.button--icon-overlay .button__icon,
.button--icon .button__icon {
  height: 1.5em;
}

.button--icon-large {
  padding: 0.6em;
  font-size: 1.25em;
}

.button--large .button__icon {
  height: 1.25em;
}

.button--icon-overlay {
  position: absolute;
  left: -25%;
  margin: 0;
  opacity: 0;
}

.table__row:hover .track-index {
  opacity: 0;
}

.table__row:hover .button--icon-overlay {
  opacity: 1;
}

.button--player-control-main,
.button--player-control,
.button--icon-overlay,
.button--icon {
  margin: 0 0.5em;
  padding: 0.3em;
  font-size: inherit;
  color: var(--subtitle-color);
}

.button--player-control-main,
.button--player-control {
  font-size: 1.25rem;
  border-color: transparent;
  box-sizing: border-box;
}

.button--player-control-main {
  font-size: 2em;
  padding: 0.1em;
  margin: 0 0.25em;
}

.button--player-control-main .button__icon,
.button--player-control .button__icon {
  height: 1.25em;
}

.button__icon {
  height: 1rem;
}

.button__label {
  margin: 0 0.25rem;
}
