.header {
  height: var(--header-height);
  background: rgba(12, 12, 12, 0.94);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: var(--sidebar-width);
  margin: 0 auto;
  z-index: 3;
  padding: 0 24px;
  backdrop-filter: blur(10px);
  transition: background-color 0.3s ease;
}

.button--nav {
  background-color: var(--card-bg-color);
  margin-right: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.app--mobile .button--nav {
  box-shadow: none;
}

.button--menu.button--nav {
  background: transparent;
}

.button--menu.button--nav:active {
  background-color: var(--card-active-bg-color);
}

.button--label {
  border-radius: 24px;
  padding: 8px 16px;
}

.button--label span {
  margin: 0 8px;
}

.button--nav .icon {
  height: 1.64em;
  width: 1.64em;
  margin: 0;
}

.button--nav:first-child {
  margin-left: 0;
}
.button--nav:last-child {
  margin-right: 0;
}

.overlay {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.button--header {
  margin: 0 8px 0 0;
}

.app--compact .header {
  left: var(--sidebar-min-width);
}

.app--mobile .header {
  left: 0;
}

.header--mobile .header__title {
  margin: 0;
}

.header__thumbnail {
  border-radius: 8px;
}

.header__actions {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header__favorite-button {
}

.header__label {
  border-radius: 24px;
  margin-right: 12px;
  color: var(--subtext-color);
}

.header__title {
  font-size: 1.32em;
  opacity: 0;
  margin: var(--space-margin);
}

.overlay .header__title {
  opacity: 1;
}
