body {
  overflow-y: scroll;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

button[disabled],
button[aria-disabled] {
  opacity: 0.5;
}

h1,
h2,
h3 {
  transition: none;
}

/*
span,
p,
svg {
  transition: color 0.25s linear;
}
*/

.App {
  top: 0;
  left: 0;
  position: absolute;
  min-width: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: var(--sidebar-width);
  padding-bottom: var(--player-height);
  padding-top: var(--nav-height);
  position: relative;
}

.content {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
}

.content--center {
  flex-grow: 1;
  display: flex;
}

.content--side {
  padding: 1.25rem 3.5rem;
  box-sizing: border-box;
  width: calc(var(--sidebar-width) + 6.5em);
  min-width: calc(var(--sidebar-width) + 6.5em);
  border-left: 1px solid var(--border-color);
  min-height: calc(100vh - var(--player-height) - var(--nav-height));
}

.content--side .title {
  font-size: 1rem;
  text-align: left;
  padding: 0.75em 0;
  margin: 0;
  margin-top: 2.1rem;
}

.content--side .title a {
  margin: 0;
}

.content--side .title:first-child {
  margin-top: 0;
}

.list {
  flex-grow: 1;
}

.item {
  font-size: 1rem;
  text-align: left;
  border-bottom: 1px solid var(--border-color);
  padding: 0 3.5em;
}

.item-data {
  display: flex;
  flex-direction: row;
}

.item-meta {
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: row;
}

.item-actions {
  display: flex;
  align-items: center;
  font-size: 0.86em;
}

.item--small {
  font-size: 0.8rem;
  font-weight: 500;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  border: 0;
  padding: 0;
  margin: 0.75rem 0;
}

.item--small .item-data {
  justify-content: center;
  margin: 0.75rem 0.325rem;
}

.item--small .item-title,
.item--small .item-subtitle {
  font-size: 0.82rem;
}

.item--small .item-title {
  margin-bottom: 0.25rem;
  text-transform: capitalize;
}

.item--small .item-subtitle {
  color: var(--subtitle-color);
}

.item-thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 1.25rem;
}

.item-title,
.item-subtitle {
  font-size: 0.94rem;
  text-transform: capitalize;
  margin: 0.2rem 0;
}

.item-title {
  font-weight: 600;
}

.item-subtitle {
  font-weight: 500;
  color: var(--subtitle-color);
}

.item-message,
.item-actions {
  margin: 1rem 0;
  min-height: 1.8em;
  color: var(--subtitle-color);
}

.item-actions {
  margin: 2em 0;
}

.item-message__actions {
  display: flex;
  align-items: center;
}

.item-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 1.8em;
  margin-top: 1.5rem;
}

.item-message__icon {
  height: 1.2rem;
}

.item-message__text {
  font-size: 0.84em;
  display: flex;
  align-items: center;
}

.item-message__text span {
  margin: 0 0.4rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0.75rem 0;
}

.tags .tag-link {
  margin-top: 0.75rem;
  margin-right: 0.75rem;
  font-size: 0.756rem;
}

.tag-link.active {
  color: #133f53;
  background: #d2edf8;
  border-color: #133f53;
}

/*dark theme */
[data-theme="dark"] .tag-link.active {
  color: #74b9ff;
  border-color: #74b9ff;
  background: rgba(0, 0, 0, 0.25);
}

.tag-link {
  text-transform: capitalize;
  transition: all 0.2s linear;
  padding: 0.3rem 0.75rem;
  margin-right: 0.75rem;
  border-radius: 5rem;
  color: var(--subtitle-color);
  font-size: 0.75rem;
  border: 1px solid var(--button-border-color);
}

.tags .tag-link {
  font-size: 0.75em;
  padding: 0.3rem 0.75rem;
}

.tag-link:hover {
  text-decoration: none;
}

.tag-link:hover:not(.active) {
  background: var(--button-hover-bg-color);
  color: var(--text-color);
  cursor: pointer;
}

.text-overflow--short {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-overflow--long {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu {
  background: var(--menu-bg-color);
  padding: 0;
  margin: 0;
  border-radius: 0.4em;
  box-shadow: var(--menu-box-shadow);
  display: flex;
  flex-direction: column;
  z-index: 1;
  border: 1px solid var(--border-color);
}

.content--center section {
  margin: 1.5rem 3.5rem;
}
.content--center section p {
  margin: 1.5rem 0;
  font-size: 0.9em;
  color: var(--subtitle-color);
}
.content--center section h3 {
  margin-bottom: 1.5em;
}
