.player {
  background: var(--player-bg-color);
  height: var(--player-height);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 -1em 1.4em var(--player-bg-color);
  z-index: 99;
  border-top: 1px solid var(--border-color);
  justify-content: space-between;
}

.player,
.player__controls,
.player__controls__buttons,
.player__slider {
  display: flex;
  align-items: center;
}

.player__controls {
  flex: 1;
  margin-right: 7.5rem;
  margin-left: 2.5rem;
  justify-content: center;
}

.rc-slider-rail {
  background: var(--border-color);
}

.rc-slider {
  min-width: 10rem;
  flex: 1;
}

.rc-slider-track,
.rc-slider-handle {
  border: 0;
  background-color: var(--subtitle-color);
}

.rc-slider-handle:focus,
.rc-slider:hover .rc-slider-handle {
  opacity: 1;
}

.rc-slider-handle {
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.player__slider {
  min-width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.player__slider span {
  min-width: 5rem;
  font-size: 0.86rem;
  color: var(--subtitle-color);
  margin: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.track-info,
.playlist-info {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  max-width: calc(var(--sidebar-width) + 7.5em);
  flex: 1;
}

.playlist-info {
  color: var(--subtitle-color);
  justify-content: center;
}

.track-info__thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1.25em;
}

.track-info__metadata {
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: break-spaces;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}

.track-info__metadata__title {
  font-weight: bold;
}

.track-info__metadata__title,
.track-info__metadata__channel {
  margin: 0.25em 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  word-wrap: break-word;
  word-break: keep-all;
  text-overflow: ellipsis;
}

.track-info__metadata__channel {
  color: var(--subtitle-color);
  font-size: 0.96em;
  text-transform: capitalize;
}

.player__controls__buttons {
  margin: 0 1.25em;
}
