@media only screen and (max-width: 1320px) {
  .content {
    flex-direction: column;
  }

  .content--side {
    border: 0;
  }

  .player__controls {
    margin: 0 1em;
  }

  .playlist-info {
    min-width: 0;
  }
}

@media only screen and (max-width: 1040px) {
  .playlist-info {
    display: none;
  }

  .player-control--alternative {
    display: flex;
  }

  .rc-slider {
    min-width: 5rem;
  }

  .sidebar--static {
    display: none;
  }

  .page {
    margin-left: 0;
  }

  header {
    left: 0;
  }

  .header__title {
    margin-left: 0;
  }

  .button--header-menu {
    display: flex;
  }

  .thumbnail--medium {
    height: 4rem;
    width: 4rem;
  }

  .content--side {
    border: 0;
    padding: 1.25rem 2rem;
  }

  .table__row {
    padding: 1.25em 2rem;
  }

  .item {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 980px) {
  .player__slider {
    display: none;
  }
}
