.sidebar {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 3;
  border-right: 1px solid var(--border-color);
  width: var(--sidebar-width);
}

.sidebar__link {
  margin: 1.25rem 2.5rem;
}

.sidebar__link a:hover {
  color: var(--text-color);
  text-decoration: none;
}

.sidebar__link.sidebar__link--active a {
  background: var(--sidebar-link-bg-color);
  color: var(--sidebar-link-text-color);
}

.sidebar__link a {
  display: flex;
  align-items: center;
  color: var(--subtitle-color);
  text-decoration: none;
  padding: 0.625em 1.25em;
  border-radius: 2.5rem;
  cursor: pointer;
  transition: background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  will-change: background-color;
}

.sidebar__header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--nav-height);
}

.sidebar__header {
  padding: 0 1.25rem;
}

.sidebar__link a span {
  margin: 0 0.625rem;
  font-weight: 600;
}

.sidebar__link .icon {
  height: 1.4em;
}

.sidebar ul {
  margin: 1.25em 0;
  padding: 0;
  text-align: left;
}

ul li {
  list-style: none;
}
