.sidebar {
  width: var(--sidebar-width);
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  position: fixed;
  padding-bottom: var(--player-height);
  display: flex;
  flex-direction: column;
  overflow: auto;
  background: rgba(12, 12, 12, 0.94);
  z-index: 1;
  touch-action: pan-x;
  backdrop-filter: blur(10px);
}

.sidebar__overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: 4;
  touch-action: pan-x;
  background: rgba(12, 12, 12, 0.64);
  opacity: 0;
  display: none;
}

.sidebar__overlay[data-open] {
  display: block;
}

.sidebar__overlay[data-open="false"] {
  opacity: 1;
  animation: 0.3s fadeOut;
  animation-fill-mode: both;
}

.sidebar__overlay[data-open="true"] {
  opacity: 0;
  animation: 0.3s fadeIn;
  animation-fill-mode: both;
}

/* Border */
.sidebar::after {
  position: absolute;
  right: 0;
  top: 3vh;
  bottom: calc(3vh + var(--player-height));
  background: #1b1b1b;
  content: "";
  width: 1px;
}

.sidebar .logo {
  height: 42px;
  width: 42px;
  margin-left: calc(var(--space-margin) * 0.86);
  margin-right: 8px;
}

.app--compact:not(.app--mobile) .sidebar__header {
  width: 0;
  justify-content: center;
  margin-top: 0;
}

.app--compact:not(.app--mobile) .logo {
  margin: 0;
}

.app--compact:not(.app--mobile) .sidebar {
  width: var(--sidebar-min-width);
  align-items: center;
  align-content: center;
}

.app--compact:not(.app--mobile) .sidebar ul {
  margin: 0;
}
.app--compact:not(.app--mobile) .sidebar .sidebar__link a span {
  display: none;
}

.app--compact:not(.app--mobile) .sidebar .sidebar__link {
  padding: 0;
}

.app--compact:not(.app--mobile) .sidebar__link a {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 8px !important;
}

.app--compact:not(.app--mobile) .sidebar__link .link__icon {
  margin: 0;
  height: 1.36em;
  width: 1.36em;
}

.app--compact:not(.app--mobile) .sidebar__header span {
  display: none;
}

.app--compact:not(.app--mobile) .sidebar__message {
  display: none;
}

.app--mobile .sidebar {
  z-index: 4;
  bottom: 0;
  box-shadow: 1px 0px 8px 0px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.32);
  transform: translate3d(calc(-1 * var(--sidebar-width)), 0, 0);
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.app--mobile .sidebar[data-open="false"] {
  transform: translate3d(calc(-1 * var(--sidebar-width)), 0, 0);
}
.app--mobile .sidebar[data-open="true"] {
  transform: translate3d(0, 0, 0);
}

.app--min-player .sidebar {
  padding-bottom: var(--player-min-height);
}

.app--min-player .sidebar::after {
  bottom: calc(3vh + var(--player-min-height));
}

.app--mobile .sidebar::after {
  display: none;
}

:root[data-player-hidden="true"] .sidebar {
  padding-bottom: 0;
}

:root[data-player-hidden="true"] .sidebar::after {
  bottom: 3vh;
}

.sidebar ul {
  margin: 0 calc(var(--space-margin) * 0.85);
  padding: 0;
}

.sidebar__header {
  width: 100%;
  min-height: var(--header-height);
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 1.54em;
  margin: 8px 0;
}

.sidebar__link {
  list-style: none;
  width: 100%;
  margin-bottom: calc(var(--space-margin) * 0.5);
}

.sidebar__link a {
  color: var(--subtext-color);
  justify-content: flex-start;
  margin: 0;
  padding: calc(var(--space-margin) * 0.25) calc(var(--space-margin) * 0.15);
  text-decoration: none;
  border-radius: 0;
  border-radius: 25em;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-property: color, background-color;
}

.sidebar__link a:hover {
  color: var(--text-color);
  background: var(--card-bg-color);
}
.sidebar__link a:focus,
.sidebar__link a:hover,
.sidebar__link a:active,
.sidebar__link a:visited {
  text-decoration: none;
}

.sidebar__link a[aria-current="page"] {
  color: var(--text-color);
}

.sidebar__message {
  color: #808080;
  font-size: 0.9em;
  margin: 0 calc(var(--space-margin) * 0.85);
  text-align: left;
  word-wrap: break-word;
  padding: 16px 14px;
}

.sidebar__message-link {
  display: inline-block;
  margin: calc(var(--space-margin) * 0.125);
  padding: calc(var(--space-margin) * 0.05) calc(var(--space-margin) * 0.125);
  border-radius: var(--border-radius);
}

.sidebar__message .icon {
  margin: calc(var(--space-margin) * 0.25);
}

.sidebar__link .link__icon {
  height: 1.25em;
  width: 1.25em;
  margin-left: calc(var(--space-margin) * 0.25);
  margin-right: calc(var(--space-margin) * 0.5);
  transition: none;
}
