.sidebar {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 3;
  border-right: 1px solid var(--border-color);
  width: var(--sidebar-width);
  background: var(--bg-color);
  /*
  transition: all 0.25s linear;
  transition-property: box-shadow, border-color, background-color, color;
  */
}

.sidebar .nav__link:hover {
  color: var(--text-color);
  text-decoration: none;
}

.sidebar .nav__link.nav__link--active {
  background: var(--sidebar-link-bg-color);
  color: var(--sidebar-link-text-color);
}

.sidebar .nav__link--active span,
.sidebar .nav__link--active svg {
  transition: none;
}

.sidebar .nav__link span {
  margin: 0 0.625rem;
  font-weight: 600;
}

.sidebar .nav__link .icon {
  height: 1.4em;
}

.sidebar .nav__link {
  display: flex;
  align-items: center;
  color: var(--subtitle-color);
  text-decoration: none;
  padding: 0.625em 1.25em;
  border-radius: 2.5rem;
  cursor: pointer;
  margin: 1.25rem 2.5rem;
}

.sidebar__header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--nav-height);
}

.sidebar__header {
  padding: 0 1.25rem;
}

.sidebar ul {
  margin: 1.25em 0;
  padding: 0;
  text-align: left;
}

ul li {
  list-style: none;
}
