:root {
  --sidebar-width: 16.5em;
  --player-height: 6.5em;
  --nav-height: 4em;

  --text-color: #353b48;
  --subtitle-color: #5b6373;
  --border-color: #ced6e0;
  --bg-color: white;
  --accent-color: #3498db;

  --player-bg-color: var(--bg-color);

  --button-border-color: var(--subtitle-color);
  --button-hover-bg-color: #dfe4ea;
  --button-alt-bg-color: var(--subtitle-color);

  --sidebar-link-bg-color: var(--subtitle-color);
  --sidebar-link-text-color: var(--bg-color);

  --menu-bg-color: white;
  --menu-item-bg-color: var(--button-hover-bg-color);
  --menu-box-shadow: 0 1px 14px rgba(91, 99, 115, 0.16);
}

:root {
  color: var(--text-color);
}

.App {
  color: var(--text-color);
  background: var(--bg-color);
  min-height: 100vh;
  /*
  transition: all 0.25s linear;
  transition-property: background-color, color;
  */
  margin: 0;
}

[data-theme="dark"]:root {
  --text-color: #fff;
  --subtitle-color: #d2dae2;
  --border-color: #3f4453;
  --sidebar-bg-color: #252831;
  --bg-color: #1a1c22; /* #252831; */
  --button-border-color: #677088;
  --button-hover-bg-color: #333743;
  --sidebar-link-bg-color: var(--button-hover-bg-color);
  --sidebar-link-text-color: var(--text-color);
  --menu-bg-color: var(--button-hover-bg-color);
  --menu-item-bg-color: rgba(0, 0, 0, 0.4);
  --menu-box-shadow: 0 1px 14px rgba(0, 0, 0, 0.24);
}
