.tracks-list {
  overflow-y: hidden !important;
}

.tracks-list .tracks-list__row {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.tracks-list__row--selected {
  background: var(--card-active-bg-color);
}
.tracks-list__container {
  margin: 0;
  width: 100%;
}

.tracks-list .row__index {
  min-width: 24px;
  text-align: center;
  color: var(--subtext-color);
}

.tracks-list .row__metadata {
  margin: 0 16px;
}

.row__metadata {
  min-width: 32px;
}
.row__price {
  text-align: center;
  font-size: 0.85em;
  background: rgba(246, 229, 141, 0.9);
  text-align: center;
  color: var(--bg-color);
  padding: 2px 8px;
  border-radius: 16px;
  font-weight: 700;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.3);
}

.row__price--free {
  color: var(--subtext-color);
  border-color: transparent;
  background: transparent;
}

.row__subtitle {
  margin: 0;
  padding: 0;
  border-radius: 0;
  display: inline-block;
}

.row__title {
  margin: 0;
  padding: 0;
  border-radius: 0;
  color: var(--title-color);
}

.row__end {
  min-width: 64px;
}

.row__title:hover {
  text-decoration: underline;
}

a.row__subtitle:hover {
  color: var(--subtext-color);
  text-decoration: underline;
}
.row__title:focus,
.row__title:active,
a.row__subtitle:focus,
s.row__subtitle:active {
  background: transparent;
}

.tracks-list__row:hover .button--play-row + .row__index {
  opacity: 0;
}

.row__data {
  position: relative;
}

.button--play-row {
  position: absolute;
  left: -4px;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  opacity: 0;
  padding: 4px;
  width: 32px;
  height: 32px;
}
.button--play-row--active,
.button--play-row:focus {
  opacity: 1;
  outline: none;
  color: var(--text-color);
}

.button--play-row--active + .row__index,
.button--play-row:focus + .row__index {
  opacity: 0;
}

.tracks-list__row:hover .button--play-row {
  opacity: 1;
  z-index: 3;
}
.button--play-row svg {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  opacity: 1;
}

.button--row-action {
  margin: 0;
}

.thumbnail__play-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 0;
  background: rgba(32, 32, 32, 0.64);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: var(--text-color);
}
.thumbnail__play-button--active,
.tracks-list__row:hover .thumbnail__play-button {
  opacity: 1;
}

.thumbnail__play-button:hover,
.thumbnail__play-button:active,
.thumbnail__play-button:focus {
  background: rgba(40, 40, 40, 0.64);
}
