:root {
  --accent-color: #597df7;
  --dark-accent-color: #474787;
  --bg-color: #0c0c0c; /*#121212;*/
  --text-color: white;
  --subtext-color: #a2a2a2;
  --header-height: 68px;
  --space-margin: 32px;
  --border-radius: 4px;
  --sidebar-width: 270px;
  --sidebar-min-width: 68px;
  --player-bg-color: rgba(24, 24, 24, 0.92);
  --player-height: 94px;
  --player-min-height: 68px;
  --card-bg-color: rgba(24, 24, 24, 0.92);
  --card-active-bg-color: rgba(35, 35, 35, 0.92);
}
